---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import { getEntry } from "astro:content";
import { formatDate } from "@/utils";

const { slug } = Astro.params;

if (!slug) {
	throw new Error("No slug provided");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
	return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.summary}>
	<Navbar />

	<article class="blog max-w-3xl mx-auto md:px-0">
		<a href="/blog" class="flex items-center gap-1 hover:underline">
			<svg
				class="w-3 h-3"
				fill="white"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 320 512"
				><path
					d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
				></path></svg
			>
			<span class="dark:text-white text-sm">All blogs</span>
		</a>
		<h1 class="text-4xl font-bold dark:text-green-500">
			{entry.data.title}
		</h1>

		<p class="mb-4">{entry.data.summary}</p>

		<span class="text-gray-400 text-sm">
			{entry.data.author} on {formatDate(entry.data.pubDate)}
		</span>

		{
			entry.data.image && (
				<img
					src={`/images/${entry.data.image}`}
					alt="Article Image"
					class="w-full h-auto aspect-video my-6"
				/>
			)
		}

		<div class="prose max-w-full">
			<Content />
		</div>
	</article>
</Layout>

<style is:global>
	.blog p {
		line-height: 1.6;
		margin: 0.6rem 0;
		padding: 0;
		color: var(--blog-content);
	}

	.blog h1 {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		padding: 0;
		font-size: 2.5rem;
		font-weight: bold;
		color: var(--contrast);
	}

	.blog h2 {
		margin: 1.5rem 0 1rem;
		padding: 0;
		font-size: 1.5rem;
		font-weight: 600;
		color: #fff;
	}

	.blog h3 {
		margin: 1.5rem 0 0rem;
		padding: 0;
		font-size: 1.125rem;
		font-weight: 600;
		color: #fff;
	}

	.blog ul {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
	}

	.blog li {
		padding: 0;
		color: var(--text);
	}

	.blog li:hover a {
		color: var(--contrast);
	}

	.blog code {
		color: var(--contrast);
	}

	.blog pre {
		background-color: #151515 !important;
		color: #fff;
		padding: 1rem;
		margin: 1rem 0;
		overflow-x: auto;
		border-radius: 15px;
	}

	.blog pre code {
		color: #fff;
	}

	@media (max-width: 768px) {
		.blog h1 {
			margin-top: 1.5rem;
			font-size: 2rem;
		}

		.blog h2 {
			font-size: 1.8rem;
		}

		.blog ul {
			padding: 0.5rem;
		}
	}

	.blog table {
		width: 100%;
		border-collapse: collapse;
		margin: 1.5rem 0;
		font-size: 1rem;
		color: var(--text);
	}

	.blog th,
	.blog td {
		padding: 0.75rem;
		border: 1px solid #ddd;
		text-align: left;
	}

	.blog th {
		background-color: rgba(0, 0, 0, 0.1);
		color: var(--text);
	}

	.blog tbody tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.05);
	}

	.blog tbody tr:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.blog a {
		color: var(--contrast);
		text-decoration: underline;
		padding: 0 1rem;
	}

	.blog a:hover {
		text-decoration: none;
	}

	.blog hr {
		margin: 1.5rem 0;
		padding: 0 1rem;
	}
</style>
