---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import { getEntry } from 'astro:content';
import { formatDate } from '@/utils';

const { slug } = Astro.params;

if (!slug) {
  throw new Error('No slug provided');
}

const entry = await getEntry('blog', slug);

if (entry === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await entry.render();
---

<script>
  // Copy when click on .blog pre
  document.addEventListener('click', (e) => {
    if (e.target instanceof HTMLElement && e.target.tagName === 'PRE') {
      const selection = window.getSelection();
      if (selection) {
        const range = document.createRange();
        range.selectNodeContents(e.target);
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        selection.removeAllRanges();
      }
      const copyAlert = document.getElementById('copy-alert');
      if (copyAlert) {
        copyAlert.style.display = 'block';
        setTimeout(() => {
          copyAlert.style.display = 'none';
        }, 1000);
      }
    }
  });
</script>

<Layout
  title={entry.data.title}
  description={entry.data.summary}
  image={entry.data.image}>
  <div
    id="copy-alert"
    class="fixed top-0 left-0 w-full bg-green-500 text-white text-center py-2 hidden z-50">
    Copied!
  </div>
  <Navbar />

  <article class="blog mx-auto md:px-0 md:mt-7">
    <div
      class="flex md:flex-nowrap flex-wrap items-center justify-between md:gap-4">
      <h1
        class="text-4xl my-6 font-bold dark:text-green-500 md:order-1 order-2">
        {entry.data.title}
      </h1>
      {
        entry.data.image && (
          <img
            src={`/images/${entry.data.image}`}
            alt="Article Image"
            class="w-16 h-16 object-cover order-1 md:order-2 aling-center"
          />
        )
      }
    </div>

    <p class="mb-4">{entry.data.summary}</p>

    <span class="text-gray-400 text-sm">
      {entry.data.author} on {formatDate(entry.data.pubDate)}
    </span>

    <div class="prose max-w-full">
      <Content />
    </div>
  </article>
</Layout>

<style is:global>
  .blog p {
    margin: 1rem 0;
    padding: 0;
    color: var(--white);

    /* letter-spacing: 0.05rem; */
  }

  .blog h2 {
    margin: 3rem 0 1rem;
    padding: 0;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--white);
  }

  .blog h3 {
    margin: 3rem 0 0rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
  }

  .blog ul {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .blog li {
    padding: 0;
    margin: 0.3rem 0;
    color: var(--text);
    list-style-type: disc;
  }

  .blog li a {
    color: var(--text);
    text-decoration: none;
  }

  .blog li:hover a {
    color: var(--contrast);
  }

  .blog code {
    color: var(--contrast);
  }

  .blog pre {
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: auto;
    border: 1px solid #5b5a5a;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  .blog pre:hover {
    border-color: var(--contrast);
  }

  .blog pre code {
    color: #fff;
  }

  .blog table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 1rem;
    color: var(--text);
  }

  .blog th,
  .blog td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
  }

  .blog th {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text);
  }

  .blog tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .blog tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .blog a {
    text-decoration: underline;
    padding: 0 0rem;
  }

  .blog a:hover {
    text-decoration: none;
  }

  .blog em {
    font-weight: bold;
    font-style: normal;
    color: #fff;
  }

  .blog hr {
    margin: 1.5rem 0;
    padding: 0 1rem;
  }
</style>
