---
import { content } from "@content_en";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";

import Preview from "@/components/blog/Preview.astro";

const { name, domain, x, github, linkedin } = content.basics;

const actualYear = new Date().getFullYear();
---

<footer class="mt-[4rem]">
	<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a
				href="/"
				class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
				<span
					class="self-center text-2xl hover:text-green-500 hover:underline font-semibold whitespace-nowrap dark:text-white"
					>{domain}</span
				>
			</a>
			<ul
				class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
				<li>
					<a
						href={github}
						target="_blank"
						class="hover:underline me-4 md:me-6 hover:text-green-500"
						><GitHub />
					</a>
					<li>
						<a
							href={linkedin}
							target="_blank"
							class="hover:underline hover:text-green-500 me-4 md:me-6"
							>LinkedIn</a
						>
					</li>
					<li>
						<a
							href={x}
							target="_blank"
							class="hover:underline me-4 md:me-6 hover:text-green-500"
							>X</a
						>
					</li>

					<!-- <li>
					<a href="#" class="hover:underline hover:text-green-500"
						>Contact</a
					>
				</li> -->
				</li>
			</ul>
			<hr
				class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
			/>
			<span
				class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
				>© {actualYear}
				<a href={linkedin} class="hover:underline hover:text-green-500"
					>{name}</a
				>. All Rights Reserved.</span
			>
		</div>
	</div>
</footer>
