---
import { getEntry } from "astro:content";

interface Props {
	title: string;
	slug: string;
	pubDate: string;
	author: string;
	summary: string;
	linkAuthor: string;
	descriptionLength: number;
}

const { title, slug, pubDate, author, linkAuthor, descriptionLength, summary } =
	Astro.props;
const entry = await getEntry("blog", slug);

if (!slug) {
	throw new Error("No slug provided");
}

if (entry === undefined) {
	return Astro.redirect("/404");
}

// Directly use the Markdown content
const contentText = entry.body;

// Get the first 160 characters of the content
const previewText =
	summary.length > descriptionLength
		? summary.substring(0, descriptionLength) + "..."
		: summary;

const linkPath = `/blog/${slug}`;
const date = new Date(pubDate);

// Create a function to format the date
function formatDate(date: Date): string {
	const options: Intl.DateTimeFormatOptions = {
		weekday: "short",
		day: "2-digit",
		month: "short",
		year: "numeric",
	};
	return new Intl.DateTimeFormat("en-GB", options).format(date);
}

const formattedDate = formatDate(date);
---

<article
	class="flex flex-col md:flex-row mb-7 overflow-hidden hover:border-green-500">
	<div class="md:w-full">
		<div
			class="flex justify-between items-center text-sm mb-2 text-customGray">
			<time datetime="2024-06-28">{formattedDate}</time>
		</div>
		<h2 class="text-xl uppercase font-semibold mb-2">
			<a
				href={`/blog/${slug}`}
				class="hover:underline dark:text-green-500 text-green-500">
				{title}
			</a>
		</h2>
		<p class="text-customGray">{previewText}</p>
	</div>
</article>

<style>
	article:hover a {
		color: var(--contrast);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
	article:hover img {
		transform: scale(1.05);
	}

	article:hover .read-more {
		color: var(--contrast);
		display: block;
	}
</style>
