---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import { getEntry } from "astro:content";
import { formatDate } from "@/utils";

const { slug } = Astro.params;

if (!slug) {
	throw new Error("No slug provided");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
	return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<Navbar />

	<article class="blog max-w-3xl mx-auto md:px-0">
		<h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>

		<p class="text-white text-sm mb-4">
			By {entry.data.author} on {formatDate(entry.data.pubDate)}
		</p>

		{
			entry.data.image && (
				<img
					src={`/images/${entry.data.image}`}
					alt="Article Image"
					class="w-full h-auto rounded-lg my-6"
				/>
			)
		}

		<div class="prose max-w-full">
			<Content />
		</div>
	</article>
</Layout>

<style is:global>
	.blog p {
		margin: 20px 0;
	}

	.blog h1 {
		margin-top: 5rem;
	}

	.blog h2 {
		margin: 1rem 0;
		font-size: 1.8rem;
	}
	.blog ul {
		display: flex;
		flex-direction: column;
		line-height: 1.8;
		padding: 1rem;
		border: 1px solid var(--white);
	}

	.blog li:hover a {
		color: var(--contrast);
	}

	@media (max-width: 768px) {
		.blog h1 {
			margin-top: 2rem;
		}
	}
</style>
