---
import Layout from "@/layouts/Layout.astro";
import Preview from "@/components/blog/Preview.astro";
import Navbar from "@/components/Navbar.astro";
import { getCollection } from "astro:content";

const allBlog = await getCollection("blog");

const allCategories = Array.from(
	new Set(allBlog.map((post) => post.data.category))
);

let filteredBlogs = allBlog;

const selectedCategory = Astro.url.searchParams.get("category");

if (selectedCategory && selectedCategory !== "all") {
	filteredBlogs = allBlog.filter(
		(post) => post.data.category === selectedCategory
	);
}
---

<Layout title="Blogs">
	<Navbar />
	<div class="container">
		<form id="category-form">
			<select
				id="category-select"
				name="category"
				onchange="document.getElementById('category-form').submit()">
				<option value="all">All</option>
				{
					allCategories.map((category) => (
						<option
							value={category}
							selected={category === selectedCategory}>
							{category}
						</option>
					))
				}
			</select>
		</form>
		{
			filteredBlogs.map((post) => (
				<Preview
					emoji={post.data.emoji}
					title={post.data.title}
					slug={post.data.slug}
					votes="3"
				/>
			))
		}
	</div>
</Layout>

<style>
	.container {
		margin-top: 5rem;
	}
</style>
